{% set active_page = active_page|default('home') %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Web Monitor {% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">
        <meta name="author" content="WebMonitor">

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/web-monitor.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="wrap">
            <header>
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="brand" href="/">WebMon</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    {% if not user %}
                                        <li><a href="{{ login_url }}">Ingresa</a></li>
                                    {% else %}
                                        <ul class="nav pull-right">
                                            <li><p class="navbar-text">{{ user.email() }}</p></li>
                                            <li class="divider-vertical"></li>
                                            <li><a href="{{ logout_url }}">Cerrar sesion</a></li>
                                    {% endif %}
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </header>

            <section class="app">
                <div class="container-fluid">
                    {% if user %}
                        <div class="row-fluid">
                            <div class="span2">
                                <div class="well sidebar-nav">
                                    <ul class="nav nav-list">
                                        <li class="nav-header">Explora</li>
                                        <li{% if active_page == 'index' %} class="active"{% endif %}><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                        <li{% if active_page == 'new_page' %} class="active"{% endif %}><a href="/new-page"><i class="icon-pencil"></i> Nueva pagina</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="span10">
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    {% else %}
                        <div class="hero-unit">
                            <h2>Monitorea el rendimiento de tu Aplicación Web</h2>
                            <p>WebMon es una aplicación web para monitorear el rendimiento de sitios. La aplicación está pensada como un ejemplo que cubre la funcionalidad básica de Google App Engine.</p>
                            <p><a href="https://github.com/josemontesdeoca/web-monitor">Descarga el código fuente</a> en <a href="https://github.com/">GitHub</a>.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <div id="push"></div>
            </section> <!-- /container -->
        </div>

        {% block footer %}
            <footer>
                <div id="footer">
                    <div class="container">
                        <p class="muted credit">
                            DashboardMonitor
                        </p>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>
