{% extends "base.html" %}

{% block body %}

    {% if user %}
        <div>
            <p>
                <a href="/new-page">Agregar nueva pagina</a>
            </p>
            <h2>Paginas Web monitoreadas</h2>
            
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Tiempo de respuesta (24hr avg)</th>
                    <th>Ultima actualizacion (UTC)</th>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td><a href="page/{{ page.key.urlsafe() }}">{{ page.name }}</a></td>
                        <td>{{ page.avg_resp_time }} ms</td>
                        <td>{{ page.last_ping.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    {% endif %}

{% endblock %}
