{% extends "base.html" %}
{% set active_page = "index" %}

{% block body %}

<h2>Páginas Web</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tiempo de descarga (24hr avg)</th>
            <th>Ultima actualizacion (UTC)</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
            <tr>
                <td><a href="page/{{ page.key.urlsafe() }}">{{ page.name }}</a></td>
                {% if page.avg_resp_time %}
                    <td>{{ page.avg_resp_time }} ms</td>
                {% else%}
                    <td>NA</td>
                {% endif %}
                {% if page.last_ping %}
                    <td>{{ page.last_ping.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                {% else %}
                    <td>NA</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
