{% extends "base.html" %}
{% set active_page = "new_page" %}

{% block body %}

<div class="page-header">
    <h2>Añadir un sitio</h2>
</div>


<form action="/new-page" method="POST" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Nombre</label>
    <div class="controls">
      <input type="text" name="name" id="name" placeholder="Nombre" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="url">URL</label>
    <div class="controls">
      <input type="url" name="url" id="url" placeholder="http://www.example.com" required>
      <span class="help-block">Introduce la URL de un sitio que quieras monitorear.</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn" value="Registrar Pagina Web">
    </div>
  </div>
</form>

{% endblock %}
